name: Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  VERSION: 1.1.17

jobs:
  release:
    name: docker build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3 

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to ghcr.io
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Image build
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ghcr.io/${{ github.repository }}:${{ env.VERSION }}
        platforms: linux/amd64,linux/arm64,linux/arm/v7

    - uses: anchore/sbom-action@v0
      with:
        artifact-name: sbom.spdx.json
        output-file: ./sbom.spdx.json

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: sbom.spdx.json
        tag_name: ${{ env.VERSION }}
        name: Release ${{ env.VERSION }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
