name: Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  VERSION: 0.4.3

jobs:
  release:
    name: docker build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2 

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Image build
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: tomtomcom/vault-expiration-monitor:${{ env.VERSION }}
        platforms: linux/amd64,linux/arm64,linux/arm/v7

    - uses: anchore/sbom-action@v0
      with:
        artifact-name: sbom.spdx.json
        output-file: ./sbom.spdx.json

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: sbom.spdx.json
        tag_name: ${{ env.VERSION }}
        name: Release ${{ env.VERSION }}
        draft: false
        prerelease: true
        token: ${{ secrets.GITHUB_TOKEN }}